@model List<Product>

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="main-window">
    <div class="menu-grid">
        <div class="menu-item">
            <div class="menu-header">
                <h3>Газированные напитки</h3>
            </div>
            <div class="brand-filter">
                <h5>Выберите бренд</h5>
                <select>
                    <option>Coca-Cola</option>
                    <option>Fanta</option>
                    <option>Sprite</option>
                    <option>DrPepper</option>
                </select>
            </div>
        </div>
        <div class="menu-item">
            <div class="cost-filter">
                <h5>Стоимость</h5>
            </div>
        </div>
        <div class="menu-item">
            <div class="menu-buttons">
                <button class="import-button">Импорт</button>
                <button class="nextPage-button">Выбранно: </button>
            </div>
        </div>
    </div>

    <div class="product-grid">
        @foreach (var product in Model)
        {
            <div class="product-card">
                @if (!string.IsNullOrWhiteSpace(product.Image))
                {
                    <img src="/@product.Image" class="product-image" alt="@product.Name">
                }
                else
                {
                    <div class="no-image">
                        <h3>Picture not found</h3>
                    </div>
                }
                <div class="card-body">
                    <h3>@product.Name</h3>
                    <p class="text-muted">@product.Price.ToString("C")</p>
                    <button class="select-btn">Выбрать</button>
                </div>
            </div>
        }
    </div>
</div>